<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <connectionStrings>
        <!-- Default SQLite connection -->
        <add name="DefaultConnection" 
             connectionString="Data Source=turisticka_agencija.db;Version=3;" 
             providerName="System.Data.SQLite" />
        
        <!-- Alternative MySQL connection (commented out) -->
        <!--
        <add name="MySQLConnection" 
             connectionString="Server=localhost;Database=turisticka_agencija;Uid=root;Pwd=password;" 
             providerName="MySql.Data.MySqlClient" />
        -->
    </connectionStrings>
    
    <appSettings>
        <add key="AgencyName" value="Turistička Agencija" />
        <add key="ConfigFilePath" value="config.txt" />
        <add key="BackupDirectory" value="Backups" />
        <add key="LogDirectory" value="Logs" />
        <add key="DatabaseDirectory" value="Database" />
        <add key="EnableAutoBackup" value="true" />
        <add key="BackupIntervalHours" value="24" />
        <add key="MaxBackupFiles" value="30" />
    </appSettings>
    
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SQLite" />
            <add name="SQLite Data Provider" 
                 invariant="System.Data.SQLite" 
                 description=".NET Framework Data Provider for SQLite" 
                 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
            
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" 
                 invariant="MySql.Data.MySqlClient" 
                 description=".NET Framework Data Provider for MySQL" 
                 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
        </DbProviderFactories>
    </system.data>
</configuration>
